<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwx.guatalumni.module.donation.dao.DonationApplyMapper">

    <select id="getTotal" resultType="java.lang.Integer">
        select count(da.id)
        from donation_apply da
        join alumni a on(da.alumni_id = a.id)
        join donation d on(da.donation_id = d.id)
        where da.is_delete = 0 and a.is_delete and d.is_delete = 0
        <if test="username != '' and username != null">
            and a.username like concat('%',#{username},'%')
        </if>
        <if test="status != null">
            and da.status = #{status}
        </if>
        <if test="createTime != '' and createTime != null">
            and da.create_time = #{createTime}
        </if>

    </select>
    <select id="getList" resultType="com.zwx.guatalumni.module.donation.model.vo.DonationApplyVo">
        select da.id,da.alumni_id,a.username,d.title,da.create_time,da.reason,da.phone,da.status
        from donation_apply da
            join alumni a on(da.alumni_id = a.id)
            join donation d on(da.donation_id = d.id)
        where da.is_delete = 0 and a.is_delete = 0 and d.is_delete = 0
        <if test="username != '' and username != null">
            and a.username like concat('%',#{username},'%')
        </if>
        <if test="status != null">
            and da.status = #{status}
        </if>
        <if test="createTime != '' and createTime != null">
            and da.create_time = #{createTime}
        </if>
        limit #{current},#{pageSize}
    </select>
</mapper>
