<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwx.guatalumni.module.alumni.dao.ClassesMapper">

    <select id="getTotal" resultType="java.lang.Integer"></select>
    <select id="getList" resultType="com.zwx.guatalumni.module.alumni.model.vo.ClassesVo">
        select c.id,c.create_time,c.update_time,c.name,c.old_name,m.name as major,a.name as academy
        from classes c left join major m on(c.major_id = m.id)
                       left join academy a on (c.academy_id = a.id)
        where c.is_delete = 0
        <if test="name != '' and name != null">
            and c.name like concat('%',#{name},'%')
        </if>
        <if test="major != '' and major != null">
            and m.major like concat('%',#{major},'%')
        </if>
        <if test="academy != '' and academy != null">
            and a.name like concat('%',#{academy},'%')
        </if>
        limit #{current},#{pageSize}
    </select>
</mapper>
