<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwx.guatalumni.module.alumni.dao.MajorMapper">
    <select id="getTotal" resultType="java.lang.Integer">
        select count(m.id)
        from major m left join academy a on(m.academy_id = a.id)
        where m.is_delete = 0
        <if test="name != '' and name != null">
            and m.name like concat('%',#{name},'%')
        </if>
        <if test="academy != '' and academy != null">
            and a.name like concat('%',#{academy},'%')
        </if>
    </select>
    <select id="getList" resultType="com.zwx.guatalumni.module.alumni.model.vo.MajorVo">
        select m.id,m.create_time,m.update_time,m.name,m.old_name,a.name as academy
        from major m left join academy a on(m.academy_id = a.id)
        where m.is_delete = 0
        <if test="name != '' and name != null">
            and m.name like concat('%',#{name},'%')
        </if>
        <if test="academy != '' and academy != null">
            and a.name like concat('%',#{academy},'%')
        </if>
        limit #{current},#{pageSize}
    </select>
</mapper>
